.popup__input {
  margin: 0 auto;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, .2);
  margin: 19px auto 11px;
}

@media screen and (max-width: 630px) {
  .popup__input {
    width: 238px;
    margin: 30px auto 0;
  }
}