.card__trash-button {
  width: 18px;
  height: 19px;
  border: none;
  background: none;
  background-image: url(../../../images/Trash.svg);
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  opacity: 1;
}

.card__trash-button:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}
