.popup__close-button {
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  background-image: url(../../../images/close-button.svg);
  opacity: 1;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 630px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/close-button-small.svg);
    top: -35px;
    right: 0px;
  }
}